<div style="height: 90vh;">
  <mat-toolbar class="mat-elevation-z3">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon class="menu">menu</mat-icon>
      </button>
      <!-- Exibe apenas Ipad e Desktop -->
      <span fxShow="true" fxHide.lt-md><a routerLink="home"><img src="../../../assets/img/logo.png" width="30%"></a></span>
      <!-- Exibe apenas Mobile -->
      <span fxShow="true" fxHide.gt-sm class="logo"><a routerLink="home"><img src="../../../assets/img/logo.png" width="50%"></a></span>
      <span class="menu-spacer"></span>
      <!-- Exibe apenas Ipad e Desktop -->
      <div fxShow="true" fxHide.lt-md class="lista">
        <a routerLink="/menu/home" mat-button routerLinkActive="active-list-item">Início</a>
        <a *ngIf="user.role === 2 || user.role === 3" routerLink="/menu/restaurantes" mat-button routerLinkActive="active-list-item">Estadias Atuais</a>
        <a *ngIf="user.role === 2 || user.role === 3" routerLink="/menu/bares" mat-button routerLinkActive="active-list-item">Abrigados</a>
        <a *ngIf="user.role === 2 && user.abrigo_id; else instituicao" routerLink="/menu/cafeterias" mat-button routerLinkActive="active-list-item">Seu Abrigo</a>
        <ng-template #instituicao><a *ngIf="user.role === 2 && user.instituicao_id" routerLink="/menu/cafeterias" mat-button routerLinkActive="active-list-item">Sua Instituição</a></ng-template>
        <a *ngIf="user.role === 0 && !user.abrigo_id && !user.instituicao_id" routerLink="/menu/viagens" mat-button routerLinkActive="active-list-item">Cadastrar/Solicitar</a>
        <a *ngIf="user.role === 1" routerLink="/menu/administrador" mat-button routerLinkActive="active-list-item">Administrador</a>
      </div>
      <a class="icon" href="#" mat-button (click)="SignOut()"><mat-icon>account_circle</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Exibe apenas Mobile -->
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav class="nav">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" routerLink="/menu/home" mat-list-item routerLinkActive="active-list-item"><mat-icon>home</mat-icon>Início</a>
        <mat-divider></mat-divider>
        <a *ngIf="user.role === 2 || user.role === 3" (click)="sidenav.toggle()" routerLink="/menu/restaurantes" mat-list-item routerLinkActive="active-list-item"><mat-icon>restaurant</mat-icon>Estadias Atuais</a>
        <mat-divider></mat-divider>
        <a *ngIf="user.role === 2 || user.role === 3" (click)="sidenav.toggle()" routerLink="/menu/bares" mat-list-item routerLinkActive="active-list-item"><mat-icon>sports_bar</mat-icon>Abrigados</a>
        <mat-divider></mat-divider>
        <a *ngIf="user.role === 2 && user.abrigo_id; else instituicaoMobile" (click)="sidenav.toggle()" routerLink="/menu/cafeterias" mat-list-item routerLinkActive="active-list-item"><mat-icon>local_cafe</mat-icon>Seu Abrigo</a>
        <mat-divider></mat-divider>
        <ng-template #instituicaoMobile><a *ngIf="user.role === 2 && user.instituicao_id" (click)="sidenav.toggle()" routerLink="/menu/viagens" mat-list-item routerLinkActive="active-list-item"><mat-icon>map</mat-icon>Sua Instituição</a>
        <mat-divider></mat-divider></ng-template>
        <a *ngIf="user.role === 0 && !user.abrigo_id && !user.instituicao_id" (click)="sidenav.toggle()" routerLink="/menu/eventos" mat-list-item routerLinkActive="active-list-item"><mat-icon>celebration</mat-icon>Cadastrar/Solicitar</a>
        <mat-divider></mat-divider>
        <a *ngIf="user.role === 1" (click)="sidenav.toggle()" routerLink="/menu/administrador" mat-list-item routerLinkActive="active-list-item"><mat-icon>sports_esports</mat-icon>Administrador</a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><app-root></app-root></mat-sidenav-content>
  </mat-sidenav-container>
</div>
