mat-card {
  border-radius: 15px;
  margin-bottom: 20px;
}

.image-card {
  margin-right: 10px;
  border-radius: 15px 0px 0px 15px;
  background-size:cover;
  height: 200px;
}

.text-card {
  margin: 10px;
}

.buttons {
  padding: 10px;
  height: 100%;
}


/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (max-width:600px) {

}
