mat-card {
  border-radius: 15px;
  margin-bottom: 20px;
}

.image-card {
  margin-right: 10px;
  border-radius: 15px 0px 0px 15px;
  background-size:cover;
  height: 200px;
}

.text-card {
  margin: 10px;
}

.buttons {
  padding: 10px;
  height: 100%;
}

/* ------------------------------ */
/* Propriedades Botao */

.btn {
  background: #007DFE;
  border-radius: 4px;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  font-family:  Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-left: 2%;
}


/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (max-width:600px) {
  .image-card {
    height: auto !important;
  }

  .text-card {
    margin: 0px;
  }


  .buttons {
    padding: 0px;
  }

  .mat-chip-list-wrapper{
    margin: 0 !important;
  }
}