/* ------------------------------ */
/* Propriedades Botão Novo quarto */
.fab button{
    position: fixed;
    bottom:20px;
    right:20px;
    background-color: rgba(0, 125, 254,.50);
  }
  
  .fab button:hover{
    background-color: rgba(0, 125, 254);
  }

/* ------------------------------ */
/* Tabs */
::ng-deep.mat-tab-label-active{
  border-bottom: 1px solid #007DFE !important;
  opacity: 1.0!important;
}

/* ----------------------------- */
/* section */
.quartos{
  padding-top: 5%;
  padding-left: 20%;
}