/* ------------------------------ */
/* Formulário login */
.login {
  min-height: 100vh;
  background: #F2F2F2;
}

.container-fluid {
   padding-right: 0 !important; 
   padding-left: 0 !important;
   overflow: hidden;
} 

/* ------------------------------ */
/* Propriedades Imagem de Fundo */
.bg-image {
  background-image: url('../../../../assets/img/bg-imagem.jpg');
  background-size: cover;
  background-position: center;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}

.login-heading {
  font-weight: 300;
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (max-width:768px) { 
  .form{
    padding-left: 30px;
    padding-right: 30px;
  }
}