<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto form">
              <!-- <img src="../../../../assets/img/logo_original.png"> -->
              <h3 class="login-heading mb-4">Entrar</h3>
              <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <mat-form-field class="col" appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Digite seu E-mail" ngModel />
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error></mat-error>
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field class="col" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" placeholder="Digite sua senha" ngModel />
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-error>Dados Inválidos</mat-error>
                  </mat-form-field>
                </div>

                <div class="row m-1">
                  <button mat-raised-button class="col text-center btn-entrar" color="accent"
                    [disabled]="!signinForm.valid">Entrar</button>
                </div>
              </form>

              <div class="row m-1">
                <button mat-raised-button color="warn" class="col btn-cadastrar"
                  routerLink="/sign-up">Cadastrar</button>
              </div>
              <div class="row m-1">

                <a mat-button routerLink="/forgot-password">Esqueceu sua senha?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>