<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center ">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto form">
              <h3 class="login-heading text-center mb-4">CADASTRAR</h3>

              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <mat-form-field class="col" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome" placeholder="Digite seu Nome" ngModel
                      [(ngModel)]="usuario.nome" />
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>

                  <mat-form-field class="col" appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf" placeholder="000.000.000-00" ngModel
                      [(ngModel)]="usuario.cpf" mask="000.000.000-00" />
                    <mat-icon matSuffix>assignment_ind</mat-icon>
                    <mat-error>Dados Inválidos</mat-error>
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field appearance="outline" class="col">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sexo" ngModel [(ngModel)]="usuario.sexo">
                      <mat-option value="masculino">Masculino</mat-option>
                      <mat-option value="feminino">Feminino</mat-option>
                      <mat-option value="outro">Outros</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="col" appearance="outline">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput type="date" formControlName="nascimento" ngModel
                      [(ngModel)]="usuario.data_de_nascimento" />
                  </mat-form-field>
                </div>

                <div class="row">
                  <mat-form-field class="col" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Digite seu Email" ngModel
                      [(ngModel)]="usuario.email" />
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error>Dados Inválidos</mat-error>
                  </mat-form-field>

                  <mat-form-field class="col" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" placeholder="Digite sua senha" ngModel
                      [(ngModel)]="usuario.senha" />
                    <mat-icon matSuffix>vpn_key</mat-icon>
                  </mat-form-field>
                </div>

                <div class="row m-1">
                  <button mat-raised-button class="col text-center btn-cadastrar" color="accent"
                    [disabled]="!signupForm.valid">Cadastrar</button>
                </div>
              </form>

              <div class="row m-1">
                <button mat-raised-button class="col text-center btn-login" color="primary" routerLink="/sign-in">Já tem
                  uma
                  conta?</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
