<div class="image">
  <div class="container">
    <div class="d-flex justify-content-center">
      <mat-card class="col-10 col-md-9 col-lg-7 mat-elevation-z4">
        <mat-card-content>
          <div class="text-center">
            <h4>Cadastrar</h4>
          </div>

          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="nome" placeholder="Digite seu Nome" ngModel [(ngModel)]="usuario.nome" />
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>

              <mat-form-field class="col" appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput type="text" formControlName="cpf" placeholder="Digite seu CPF" ngModel [(ngModel)]="usuario.cpf" mask="CPF_CNPJ"/>
                <mat-icon matSuffix>assignment_ind</mat-icon>
                <mat-error>Dados Inválidos</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-radio-group class="col mt-md-3" formControlName="sexo" ngModel [(ngModel)]="usuario.sexo">
                <div class="row">
                  <div class="col-4 col-xl-4"><mat-radio-button value="masculino">Homem</mat-radio-button></div>
                  <div class="col-4 col-xl-4"><mat-radio-button value="feminino">Mulher</mat-radio-button></div>
                  <div class="col-4 col-xl-4"><mat-radio-button value="outro">Outro</mat-radio-button></div>
                </div>
              </mat-radio-group>

              <mat-form-field class="col mt-3 mt-md-0" appearance="outline">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput type="date" formControlName="nascimento" ngModel [(ngModel)]="usuario.data_de_nascimento" />
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Digite seu Email" ngModel [(ngModel)]="usuario.email" />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>Dados Inválidos</mat-error>
              </mat-form-field>

              <mat-form-field class="col" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput type="password" formControlName="senha" placeholder="Digite sua senha" ngModel [(ngModel)]="usuario.senha" />
                <mat-icon matSuffix>vpn_key</mat-icon>
              </mat-form-field>
            </div>

            <div class="row m-1">
              <button mat-raised-button class="col text-center" color="accent"
                [disabled]="!signupForm.valid">Cadastrar</button>
            </div>
          </form>

          <div class="row m-1">
            <button mat-raised-button class="col text-center" color="primary" routerLink="/sign-in">Já tem uma
              conta?</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
