/* Propriedades Tabela */
table {
  width: 100%;
}


@media (max-width: 650px) {
  .visibilityMobile{
    display: none;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* ------------------------------ */
/* Propriedades Botão Novo Abrigado */
.fab button{
  position: fixed;
  bottom:20px;
  right:20px;
  background-color: rgba(0, 125, 254,.50);
}

.fab button:hover{
  background-color: rgba(0, 125, 254);
}